@media screen and (max-width: 820px) {
  .cart {
    grid-template-columns: 1fr;

    > aside {
      background-color: $primary;
      border-radius: 0%;

      padding: 2rem;
      > h2 {
        font: 100 1.2rem "Roboto";
      }
    }
  }
}
